body {
  height: 100%;
  margin: 0;
  max-width: 100%;/*prevent scroll horizontall*/
  -webkit-text-size-adjust: 100%; //fix iOS first loading with bigger fonts
}

.left{
    position: fixed;
    display: block;
    top:15px;
    left:10px;
    width: 50px;
}
